@import url(./reset.css);

:root {
  --font-color: #fffff0;
  --main: #541212;
  --sub: #8b9a46;
  --highlight: #0f0e0e;
  --pad: 0.7em;
  --button-pad: 0.5em;
  --button-rad: 10px;
  --main-size: 20px;
  --heading-size: 39.2px;
  --banner-size: clamp(2rem, 9vw, 5rem);
  --main-font: houschka-rounded, sans-serif;
  --title-font: gastromond, sans-serif;
  --info-font: utopia-std, serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fffafa;
  color: black;
  font-family: var(--main-font);
  font-size: var(--main-size);
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 1 40px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.nav, .foot {
 background-color: var(--sub);
}

.foot {
  text-align: center;
  width: 100%;
  height: 40px;
}

.nav {
  color: var(--font-color);
  padding: var(--pad);
  align-items: center;
  border-bottom: 2px solid var(--main);
}

h1 {
  font-family: var(--title-font);
}

.info {
  font-family: var(--info-font);
}

.nav ul {
  width: 280px;
}

li {
  list-style: none;
}

.nav .nav-link,
.sign-in {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.btn {
  color: var(--highlight);
  background-color: var(--sub);
  border: 2px solid var(--highlight);
  padding: var(--button-pad);
  border-radius: 18px;
}

.btn:hover {
  background-color: var(--main);
  border-color: var(--font-color);
  color: var(--font-color);
}

.nav-link:visited {
  text-decoration: none;
  color: black;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--font-color);
  border-bottom: 2px solid var(--font-color);
}

.nav-link:active,
.nav-link:focus {
  color: var(--font-color);
}

.btn:hover,
.nav-link:hover {
  transition: 0.2s ease-in;
  cursor: pointer;
}

.wrapper,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link,
.brand-logo {
  display: block;
  border-bottom: 2px solid transparent;
}

.homePage {
  height: 100%;
  background: url('./assets/unsplash2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 110px;
}

.homePage h1 {
  color: var(--font-color);
  font-size: var(--banner-size);
  text-shadow:
   -1px -1px 0 var(--sub),  
    3px -3px 0 var(--sub),
    -2px 2px 0 #000,
     2px 2px 0 #000;
  font-family: var(--title-font);
  text-align: center;
}


