@import url(./reset.css);

:root {
  --font-color: #fffff0;
  --main: #541212;
  --sub: #8b9a46;
  --highlight: #0f0e0e;
  --pad: 0.7em;
  --button-pad: 0.5em;
  --button-rad: 10px;
  --main-size: 18px;
  --main-font: houschka-rounded, sans-serif;
  --title-font: gastromond, sans-serif;
  --info-font: utopia-std, serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fffafa;
  color: black;
  font-family: var(--main-font);
  font-size: var(--main-size);
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
  background-color: aqua;
}

footer {
  flex: 0 1 40px;
  background-color: blue;
}

/* nav styling */
.nav {
  color: var(--font-color);
  background-color: var(--sub);
  padding: var(--pad);
  align-items: center;
  border-bottom: 2px solid var(--main);
}

h1 {
  font-family: var(--title-font);
}

.info {
  font-family: var(--info-font);
}

.nav ul {
  width: 280px;
}

li {
  list-style: none;
}

.nav .nav-link,
.sign-in {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.nav .sign-in {
  color: var(--highlight);
  border: 2px solid var(--highlight);
  padding: var(--button-pad);
  border-radius: 18px;
}

.sign-in:hover {
  background-color: var(--highlight);
  border-color: var(--font-color);
  color: var(--font-color);
}

.nav-link:visited {
  text-decoration: none;
  color: black;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--font-color);
  border-bottom: 2px solid var(--font-color);
}

.nav-link:active,
.nav-link:focus {
  color: var(--font-color);
}

.sign-in:hover,
.nav-link:hover {
  transition: 0.2s ease-in;
  cursor: pointer;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
}

.nav-link,
.brand-logo {
  display: block;
  border-bottom: 2px solid transparent;
}

.homePage {
  height: 100%;
  background: url('./assets/unsplash2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
